<app-navbar />
<section class="section_admin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="admin_h1">
                    <a [routerLink]="['/admin/categories']" class="d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20">
                            <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                        </svg>
                    </a>
                    <div>
                        {{page_title}}
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <form action="" [formGroup]="categoryForm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre" name="name" formControlName="name">
                        @if(stateInit === false){
                        @if( categoryForm.controls['name'].invalid ){
                            <div class="error_message">
                              La categoria es obligatoria.
                            </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-3">
                        <select name="autor" id="" class="form-control" formControlName="autor" (change)="onChange($event)">
                            <option value="">Seleccionar autor</option>
                            <option value="1">opcion 1</option>
                            <option value="2">opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group d-flex justify-content-end align-items-center">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

