<section id="outstanding-news" class="outstanding-news">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Noticias</h1>
      </div>
      <div
        class="col-12 col-md-6 d-flex justify-content-end align-items-center"
      >
        <a href="#" class="view-all">ver todos</a>
      </div>
    </div>
    <div class="row">
      @for(item of items; track items ) {
      <div class="col-12 col-md-4 mb-4">
        <app-item-news [items]="item" />
      </div>
      }
    </div>
  </div>
</section>
