.login{
    background-image: url('../../../assets/images/admin/bg-admin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-login{
    background-color: #dc354590;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login-img-mobile{
    display: flex;
    justify-content: center;
}
.card-login{
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 50px;
    background-color: #FFFFFF;
}
.btn-login,
.btn-login:focus{
    background-color: #09488c;
    color: #FFF;
}
.card-login-container-input{
    position: relative;
}
.card-login-container-input .form-control:focus{
    box-shadow: none;
    border: 1px solid #09488c;
}
.card-login-container-input-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    pointer-events: none;
}