<app-navbar />
<section class="section_admin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="admin_h1">
          <a
            [routerLink]="['/admin/news']"
            class="d-flex justify-content-center align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="20"
            >
              <path
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"
              />
            </svg>
          </a>
          <div>
            {{ page_title }}
          </div>
        </h1>
      </div>
    </div>
  </div>
  <form [formGroup]="articleForm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Título"
              name="title"
              formControlName="title"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <select
              name="category"
              id=""
              class="form-control"
              placeholder="Categoria"
              formControlName="category"
              (change)="onChange($event)"
            >
              <option value="">Seleccionar categoria</option>
              @for(category of categories; track categories){
              <option
                value="{{ category._id }}"
                [attr.selected]="
                  categorySelected === category._id ? true : null
                "
              >
                {{ category.name }}
              </option>
              }
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <select name="autor" id="" class="form-control" placeholder="Autor">
              <option value="">Seleccionar autor</option>
              <option value="">opcion 1</option>
              <option value="">opcion 2</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            class="form-control mb-3"
            placeholder="Descripción"
            name="content"
            formControlName="content"
          ></textarea>
        </div>
        <div class="col-12">
          <div class="mb-3 ul_list_image">
            <ul>
              @for(article_carrusel_item of article_carrusel_images; track
              article_carrusel_images){
              <li class="mb-3">
                <img
                  src="{{ url + 'get-image/' + article_carrusel_item['name'] }}"
                  alt=""
                />
                <div>
                  <span type="text" (click)="deleteImage(article_carrusel_item)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      width="15"
                    >
                      <path
                        fill="#09488c"
                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                      />
                    </svg>
                  </span>
                </div>
              </li>
              }
            </ul>
          </div>
        </div>
        <!--<div class="col-12">
          <div class="form-group">
            <input
              type="file"
              class="form-control mb-3"
              id="file"
              name="file"
              (change)="onFileSelected($event)"
              #fileUpload
            />
          </div>
        </div>-->
        <div class="col-12">
          <div class="form-group">
            <app-img-dropzone-js
              (imagesChange)="imageChange = $event"
              (getErrors)="getErrors = $event"
            />
            <app-list-errors
              [extensions]="'jpg, jpeg y png'"
              [maxFileSize]="'5M'"
              [getErrors]="getErrors"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
